<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
</head>
<body>

<table class="table table-striped" id="sortedTable" th:fragment="receiptsTable">
    <thead>
    <tr>
        <th>№</th>
        <th>Комментарий</th>
        <th>Сумма внесения</th>
        <th>Дата внесения</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="receipts : ${receiptsList}" th:id="'receipts' + ${receipts.id}" >
        <td th:text="${receipts.id}" class="id">1</td>
        <td th:text="${receipts.receiptComment}" class="name">Вася</td>
        <td th:text="${receipts.receiptAmount}" class="price">3000</td>
        <td th:text="${#temporals.format(receipts.date, 'dd-MM-yyyy')}" class="date">20.20.2000</td>
        <td>
        </td>
        <td sec:authorize="hasAuthority('BOSS') or hasAuthority('MANAGER')">
            <button type="button" class="btn btn-danger deleteButton" data-toggle="modal" th:href="'#receiptDelete' +${receipts.id}"><span class="glyphicon glyphicon-trash"></span></button>
        </td>

        <div th:id="'receiptDelete'+${receipts.id}" class="modal fade" role="dialog" th:fragment="modalDelete">
            <div class="modal-dialog" style="top: 120px; width: 550px;">
                <div class="modal-content">
                    <div class="modal-header" style="padding-bottom: 0px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p class="receiptError" style="display: none;" th:id="'Error' +${receipts.id}"></p>
                        <h3 style="font-size: 19px; font-weight: 600;">В админ-конференцию был послан короткий код.</h3>
                        <h3 style="font-size: 19px; font-weight: 600;">Используйте его для подтверждения операции.</h3>
                    </div>

                    <div class="modal-body" style="height: 65px;">
                        <form class="form-horizontal" role="form">

                            <div class="form-group">
                                <div class="col-md-6">
                                    <input class="form-control" th:id="'password' +${receipts.id}"
                                           name="password" required="" placeholder="Введите полученный код" type="password"/>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                th:onclick="'sendToken()'"
                                style="font-size:16px;" class="btn btn-primary">Отправить код повторно
                        </button>
                        <button type="button"
                                th:onclick="'deleteReceipt(\'' + ${receipts.id} + '\')'"
                                style="font-size:16px;" class="btn btn-primary">Подтвердить
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td><b>Общая сумма:</b></td>
        <td><b th:text="${totalReceiptAmount}" id="totalPrice"></b></td>
        <td></td>
        <td></td>

    </tr>
    </tfoot>
</table>
</body>
</html>