<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log message format -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Need appender to write to file -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- Name of the file where the log messages are written -->
        <file>crm.cafe.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="BALANCE" class="ch.qos.logback.core.FileAppender">
        <!-- Name of the file where the log messages are written -->
        <file>crm.cafe.cardBalance.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.cafe.crm.controllers.card.CardProfileController" level="ERROR">
        <appender-ref ref="BALANCE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.web" level="ERROR">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate" level="ERROR">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.security.filters.ReCaptchaFilter" level="ERROR">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.services.impl.calculate.CalculateControllerServiceImpl" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.debt.DebtController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.receipt.ReceiptController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.shift.ShiftController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--boss.settings-->
    <logger name="com.cafe.crm.controllers.boss.settings.BoardController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.settings.CardSettingsController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.settings.CardSettingsController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.settings.ChecklistController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.settings.ChangePasswordController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.settings.ChecklistController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.settings.DiscountController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.settings.GeneralSettingController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.settings.LoggerController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.settings.MailSettingsController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.settings.NoteController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.settings.PriceSettingsController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.settings.VkPropertiesSettingsController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--boss-->
    <logger name="com.cafe.crm.controllers.boss.CardGenerationController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.IngredientsController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.MenuController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.ShiftStatisticController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.StatisticController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.boss.UserAccountingController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--manager.calculate-->
    <logger name="com.cafe.crm.controllers.calculate.CalculateController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.calculate.MenuCalculateController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--manager.cost-->
    <logger name="com.cafe.crm.controllers.cost.CostCategoryController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.cafe.crm.controllers.cost.CostController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--manager.debt-->
    <logger name="com.cafe.crm.controllers.debt.DebtController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--manager.main-->
    <logger name="com.cafe.crm.controllers.main.MainController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--manager.receipt-->
    <logger name="com.cafe.crm.controllers.receipt.ReceiptController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--manager.rest-->
    <logger name="com.cafe.crm.controllers.rest.TelegramBotController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!--manager.shift-->
    <logger name="com.cafe.crm.controllers.shift.ShiftController" level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>