<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:include="fragments/headTag :: bootstrap" th:remove="tag"></div>
</head>
<body>

<table class="table table-striped" id="sortedTable" th:fragment="debtsTable">
    <thead>
    <tr>
        <th>№</th>
        <th>Должник</th>
        <th>Сумма долга</th>
        <th>Дата взятия долга</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="debts : ${debtsList}" th:id="'debts' + ${debts.id}" th:if="debts.visible">
        <td th:text="${debts.id}" class="id">1</td>
        <td th:text="${debts.debtor}" class="name">Вася</td>
        <td th:text="${debts.debtAmount}" class="price">3000</td>
        <td th:text="${#temporals.format(debts.givenDate, 'dd-MM-yyyy')}" class="date">20.20.2000</td>
        <td>
            <button type="button" class="btn btn-info" data-toggle="modal" th:href="'#repayDebt' +${debts.id}">Вернуть</button>
        </td>

        <td sec:authorize="hasAuthority('BOSS') or hasAuthority('MANAGER')">
            <button th:onclick="'sendToken(\'' + ${debts.id} + '\')'" type="button" class="btn btn-danger deleteButton" data-toggle="modal" th:href="'#debtDelete' +${debts.id}"><span class="glyphicon glyphicon-trash"></span></button>
        </td>

        <div th:id="'debtDelete'+${debts.id}" class="modal fade" role="dialog" th:fragment="modalDelete">
            <div class="modal-dialog" style="top: 120px; width: 550px;">
                <div class="modal-content">
                    <div class="modal-header" style="padding-bottom: 0px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p class="Error" style="display: none;" th:id="'Error' + ${debts.id}"></p>
                        <h3 style="font-size: 19px; font-weight: 600;">В админ-конференцию был послан короткий код.</h3>
                        <h3 style="font-size: 19px; font-weight: 600;">Используйте его для подтверждения операции.</h3>
                    </div>

                    <div class="modal-body" style="height: 65px;">
                        <form class="form-horizontal" role="form">

                            <div class="form-group">
                                <div class="col-md-6">
                                    <input class="form-control" th:id="'password' + ${debts.id}"
                                           name="password" required="" placeholder="Введите полученный код" type="password"/>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                th:onclick="'sendToken(\'' + ${debts.id} + '\')'"
                                style="font-size:16px;" class="btn btn-primary">Отправить код повторно
                        </button>
                        <button type="button"
                                th:onclick="'deleteDebt(\'' + ${debts.id} + '\')'"
                                style="font-size:16px;" class="btn btn-primary">Подтвердить
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" th:id="'repayDebt'+${debts.id}" th:fragment="modalRepayDebt">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h2 class="modal-title">ВОЗВРАТ ДОЛГА</h2>
                    </div>
                    <div class="modal-body" align="center">
                        <div class="lead" th:text="'Вы действительно хотите вернуть долг ' + ${debts.debtor} + '?'" ></div>
                        <button type="button" class="btn btn-primary"
                                id="repayDebt" th:onclick="'repayDebt(\'' + ${debts.id} + '\');'">Да</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                    </div>
                </div>
            </div>
        </div>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td><b>Общая сумма :</b></td>
        <td><b th:text="${totalDebtAmount}" id="totalPrice"></b></td>
        <td></td>
        <td></td>

    </tr>
    </tfoot>
</table>
</body>
</html>