.time-edit {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    margin-left: -20px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.open-button {
    width: 350px;
    height: 34px;
}

.open-calc {
    width: 350px;
    height: 34px;
    border-radius: 4px;
    background: #E1F8FF;
    border: 2px solid #46b8da;
}

.open-calculate-block {
    width: 400px;
    height: 36px;
    margin-left: 270px;
}

.client-info {
    font-size: 16px;
    font-weight: bold;
    float: right;
    padding: 8px 22px 0 0;
}

.order-button {
    background:rgba(255,0,0,0);
    float: left;
    margin-left: 20px;
    border: none;
}

.share-order i {
    font-size: 30px;
    color:#00771C;
}

.delete-order i {
    font-size: 30px;
    color:#910405;
}

.inactive:before {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    content: "";
    background-color: rgba(255, 255, 255, 0.8)
}