
.order-btn {
    width: 141px;
}

.order-block {
    background: #C1EBC2;
    border-radius: 0 0 4px 4px;
    margin-top: -4px;
}

.empty-block {
    padding: 14px 0 10px 0;
    text-align: center
}

.content-block {
    width: 141px;
}

.content-block > ul {
    padding: 14px 0 10px 20px;
    margin-bottom: 0
}

.content-block > ul > li {
    width: 120px;
    word-break: break-all;
}

.settings-nav {
    border-bottom: none !important;
}

.settings-nav > li > a {
    color: #5bc0de;
    border-radius: 4px !important;
}

.settings-nav > li > h4 {
    color: #5bc0de;
}

#1 {
    margin-left: 20px !important;
}

.nav-info {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid #ddd;
}
