<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="calculateModal">
    <div th:replace="shift/shiftClose :: closeShift"></div>
    <div th:replace="shift/checklistOnCloseShift :: checklistOnClose"></div>

    <center>
        <button class="btn btn-info open-button" data-toggle="modal" data-target="#calculateModal">
            Открыть счет
            <div class="client-info">
                <p th:text="${stateClients}"></p>
            </div>
        </button>
    </center>


    <div id="calculateModal" class="modal fade">
        <div class="modal-dialog " style="width: 300px;margin-top: 50px" roles="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Добавление счета</h4>
                </div>
                <div class="modal-body">
                    <h4> Описание</h4>

                        <input autocomplete="off" style="font-size: 20px" class="form-control" type="text"
                               id="description" maxlength="30"/>
                        <h4 style="margin-right: 50px; float: left">Кол-во человек</h4>
                        <h4>Стол</h4>

                        <input id="number" autocomplete="off" style="width: 90px;margin-right: 60px; float: left;font-size: 20px"
                               class="form-control" type="number"
                               list="data" max="228" min="1" value="1" required=""/>

                    <datalist id="data">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </datalist>

                    <select id="boardId" required="" class="form-control " style="width:110px;font-size: 17px">
                        <option value=""></option>
                        <c th:each="board : ${listBoard}">
                            <option th:value="${board.id}"><h4 th:text="${board.name}"></h4></option>
                        </c>
                    </select>

                    <br/>
                    <br/>
                    <button th:onclick="'openNewCalc()'" class="btn btn-primary" type="button">Создать</button>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/shift/close.js}"></script>
    <script type="text/javascript" th:src="@{/js/clients/clients.js}"></script>
</div>
</body>
</html>